@layer components {
	:root {
		--mt-overlay: rgba(251, 251, 251, 0.75);
		--mt-transparent-foreground: rgba(0, 0, 0, 0.4);
		--mt-bg-secondary: rgba(251, 251, 251, 0.8);
		--mt-code-background: #082b781f;
		--mt-code-color: #d4d4d4;
		--mt-secondary: #9d9d9f;
		--mt-pre-background: #f2ecbc;
		--mt-pre-border: #d5d1c1;
		--mt-pre-color: #434363;
		--mt-hr: #dcdcdc;
		--mt-drag-handle-hover: #5c5c5e;

		--mt-accent-bold-blue: #05c;
		--mt-accent-bold-teal: #206a83;
		--mt-accent-bold-green: #216e4e;
		--mt-accent-bold-orange: #a54800;
		--mt-accent-bold-red: #ae2e24;
		--mt-accent-bold-purple: #5e4db2;

		--mt-accent-gray: #758195;
		--mt-accent-blue: #1d7afc;
		--mt-accent-teal: #2898bd;
		--mt-accent-green: #22a06b;
		--mt-accent-orange: #fea362;
		--mt-accent-red: #c9372c;
		--mt-accent-purple: #8270db;

		--mt-accent-blue-subtler: #cce0ff;
		--mt-accent-teal-subtler: #c6edfb;
		--mt-accent-green-subtler: #baf3db;
		--mt-accent-yellow-subtler: #f8e6a0;
		--mt-accent-red-subtler: #ffd5d2;
		--mt-accent-purple-subtler: #dfd8fd;

		--hljs-string: #aa430f;
		--hljs-title: #b08836;
		--hljs-comment: #999999;
		--hljs-keyword: #0c5eb1;
		--hljs-attr: #3a92bc;
		--hljs-literal: #c82b0f;
		--hljs-name: #259792;
		--hljs-selector-tag: #c8500f;
		--hljs-number: #3da067;
	}

	.dark {
		--mt-overlay: rgba(31, 32, 35, 0.75);
		--mt-transparent-foreground: rgba(255, 255, 255, 0.4);
		--mt-bg-secondary: rgba(31, 32, 35, 0.8);
		--mt-code-background: #ffffff13;
		--mt-code-color: #2c2e33;
		--mt-secondary: #595a5c;
		--mt-pre-background: #181616;
		--mt-pre-border: #222222;
		--mt-pre-color: #c5c9c5;
		--mt-hr: #26282d;
		--mt-drag-handle-hover: #969799;

		--mt-accent-bold-blue: #85b8ff;
		--mt-accent-bold-teal: #9dd9ee;
		--mt-accent-bold-green: #7ee2b8;
		--mt-accent-bold-orange: #fec195;
		--mt-accent-bold-red: #fd9891;
		--mt-accent-bold-purple: #b8acf6;

		--mt-accent-gray: #738496;
		--mt-accent-blue: #388bff;
		--mt-accent-teal: #42b2d7;
		--mt-accent-green: #2abb7f;
		--mt-accent-orange: #a54800;
		--mt-accent-red: #e2483d;
		--mt-accent-purple: #8f7ee7;

		--mt-accent-blue-subtler: #09326c;
		--mt-accent-teal-subtler: #164555;
		--mt-accent-green-subtler: #164b35;
		--mt-accent-yellow-subtler: #533f04;
		--mt-accent-red-subtler: #5d1f1a;
		--mt-accent-purple-subtler: #352c63;

		--hljs-string: #da936b;
		--hljs-title: #f1d59d;
		--hljs-comment: #aaaaaa;
		--hljs-keyword: #6699cc;
		--hljs-attr: #90cae8;
		--hljs-literal: #f2777a;
		--hljs-name: #5fc0a0;
		--hljs-selector-tag: #e8c785;
		--hljs-number: #b6e7b6;
	}

	.ProseMirror {
		@apply flex max-w-full cursor-text flex-col;
		@apply z-0 outline-0;
	}

	.ProseMirror > div.editor {
		@apply block flex-1 whitespace-pre-wrap;
	}

	.ProseMirror .block-node:not(:last-child),
	.ProseMirror .list-node:not(:last-child),
	.ProseMirror .text-node:not(:last-child) {
		@apply mb-2.5;
	}

	.ProseMirror ol,
	.ProseMirror ul {
		@apply pl-6;
	}

	.ProseMirror blockquote,
	.ProseMirror dl,
	.ProseMirror ol,
	.ProseMirror p,
	.ProseMirror pre,
	.ProseMirror ul {
		@apply m-0;
	}

	.ProseMirror li {
		@apply leading-7;
	}

	.ProseMirror p {
		@apply break-words;
	}

	.ProseMirror li .text-node:has(+ .list-node),
	.ProseMirror li > .list-node,
	.ProseMirror li > .text-node,
	.ProseMirror li p {
		@apply mb-0;
	}

	.ProseMirror blockquote {
		@apply relative pl-3.5;
	}

	.ProseMirror blockquote::before,
	.ProseMirror blockquote.is-empty::before {
		@apply bg-accent-foreground/15 absolute top-0 bottom-0 left-0 h-full w-1 rounded-sm content-[''];
	}

	.ProseMirror hr {
		@apply my-3 h-0.5 w-full border-none bg-[var(--mt-hr)];
	}

	.ProseMirror-focused hr.ProseMirror-selectednode {
		@apply outline-muted-foreground rounded-full outline-2 outline-offset-1;
	}

	.ProseMirror .ProseMirror-gapcursor {
		@apply pointer-events-none absolute hidden;
	}

	.ProseMirror .ProseMirror-hideselection {
		@apply caret-transparent;
	}

	.ProseMirror.resize-cursor {
		@apply cursor-col-resize;
	}

	.ProseMirror .selection {
		@apply inline-block;
	}

	.ProseMirror s span {
		@apply line-through;
	}

	.ProseMirror .selection,
	.ProseMirror *::selection {
		@apply bg-primary/25;
	}

	/* Override native selection when custom selection is present */
	.ProseMirror .selection::selection {
		background: transparent;
	}

	/* Code Blocks */
	.ProseMirror code.inline {
		@apply rounded border border-[var(--mt-code-color)] bg-[var(--mt-code-background)] px-1 py-0.5 text-sm;
	}

	.ProseMirror pre {
		@apply relative overflow-auto rounded border font-mono text-sm;
		@apply border-[var(--mt-pre-border)] bg-[var(--mt-pre-background)] text-[var(--mt-pre-color)];
		@apply text-left hyphens-none whitespace-pre;
	}

	.ProseMirror code {
		@apply leading-[1.7em] break-words;
	}

	.ProseMirror pre code {
		@apply block overflow-x-auto p-3.5;
	}

	.ProseMirror pre {
		.hljs-keyword,
		.hljs-operator,
		.hljs-function,
		.hljs-built_in,
		.hljs-builtin-name {
			color: var(--hljs-keyword);
		}

		.hljs-attr,
		.hljs-symbol,
		.hljs-property,
		.hljs-attribute,
		.hljs-variable,
		.hljs-template-variable,
		.hljs-params {
			color: var(--hljs-attr);
		}

		.hljs-name,
		.hljs-regexp,
		.hljs-link,
		.hljs-type,
		.hljs-addition {
			color: var(--hljs-name);
		}

		.hljs-string,
		.hljs-bullet {
			color: var(--hljs-string);
		}

		.hljs-title,
		.hljs-subst,
		.hljs-section {
			color: var(--hljs-title);
		}

		.hljs-literal,
		.hljs-type,
		.hljs-deletion {
			color: var(--hljs-literal);
		}

		.hljs-selector-tag,
		.hljs-selector-id,
		.hljs-selector-class {
			color: var(--hljs-selector-tag);
		}

		.hljs-number {
			color: var(--hljs-number);
		}

		.hljs-comment,
		.hljs-meta,
		.hljs-quote {
			color: var(--hljs-comment);
		}

		.hljs-emphasis {
			@apply italic;
		}

		.hljs-strong {
			@apply font-bold;
		}
	}

	/* Lists */
	.ProseMirror ol {
		@apply list-decimal;
	}

	.ProseMirror ol ol {
		list-style: lower-alpha;
	}

	.ProseMirror ol ol ol {
		list-style: lower-roman;
	}

	.ProseMirror ul {
		list-style: disc;
	}

	.ProseMirror ul ul {
		list-style: circle;
	}

	.ProseMirror ul ul ul {
		list-style: square;
	}

	/* Task Lists (Retaining customized look) */
	.ProseMirror ul[data-type="taskList"] {
		@apply list-none ml-0 p-0;
	}

	.ProseMirror li[data-type="taskItem"] {
		@apply flex items-start gap-2 my-2;
	}

	.ProseMirror li[data-type="taskItem"] input[type="checkbox"] {
		@apply mt-1 md:mt-1.5 h-4 w-4 shrink-0 rounded-full border border-[var(--mt-secondary)] text-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 appearance-none checked:bg-primary checked:border-primary cursor-pointer transition-all;
	}

	.ProseMirror li[data-type="taskItem"] input[type="checkbox"]:checked {
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.ProseMirror li[data-type="taskItem"] > div {
		@apply flex-1 min-w-0;
	}

	.ProseMirror li[data-type="taskItem"][data-checked="true"] > div {
		@apply text-[var(--mt-secondary)] line-through decoration-[var(--mt-secondary)]/50 decoration-2;
	}

	/* Headings */
	.ProseMirror .heading-node {
		@apply relative;
	}

	.ProseMirror h1 {
		@apply text-2xl font-semibold tracking-tight;
	}

	.ProseMirror h2 {
		@apply text-xl font-semibold tracking-tight;
	}

	.ProseMirror h3 {
		@apply text-lg font-semibold tracking-tight;
	}

	.ProseMirror h4 {
		@apply text-base font-semibold tracking-tight;
	}

	.ProseMirror h5 {
		@apply text-sm font-semibold tracking-tight;
	}

	/* Placeholder */
	.ProseMirror > p.is-editor-empty::before {
		content: attr(data-placeholder);
		@apply pointer-events-none float-left h-0 text-[var(--mt-secondary)];
	}

	/* Links */
	.ProseMirror a.link {
		@apply text-primary underline;
	}

	.ProseMirror a.link:hover {
		@apply underline;
	}

	/* Zoom images */
	[data-rmiz-ghost] {
		position: absolute;
		pointer-events: none;
	}
	[data-rmiz-btn-zoom],
	[data-rmiz-btn-unzoom] {
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 50%;
		border: none;
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
		color: #fff;
		height: 40px;
		margin: 0;
		outline-offset: 2px;
		padding: 9px;
		touch-action: manipulation;
		width: 40px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	[data-rmiz-btn-zoom]:not(:focus):not(:active) {
		position: absolute;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		pointer-events: none;
		white-space: nowrap;
		width: 1px;
	}
	[data-rmiz-btn-zoom] {
		position: absolute;
		inset: 10px 10px auto auto;
		cursor: zoom-in;
	}
	[data-rmiz-btn-unzoom] {
		position: absolute;
		inset: 20px 20px auto auto;
		cursor: zoom-out;
		z-index: 1;
	}
	[data-rmiz-content="found"] img,
	[data-rmiz-content="found"] svg,
	[data-rmiz-content="found"] [role="img"],
	[data-rmiz-content="found"] [data-zoom] {
		cursor: inherit;
	}
	[data-rmiz-modal]::backdrop {
		display: none;
	}
	[data-rmiz-modal][open] {
		position: fixed;
		width: 100vw;
		height: 100vh;
		max-width: none;
		max-height: none;
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;
		overflow: hidden;
	}
	[data-rmiz-modal-overlay] {
		position: absolute;
		inset: 0;
		transition: background-color 0.3s;
	}
	[data-rmiz-modal-overlay="hidden"] {
		background-color: rgba(255, 255, 255, 0);
	}
	[data-rmiz-modal-overlay="visible"] {
		background-color: rgba(255, 255, 255, 1);
	}
	[data-rmiz-modal-content] {
		position: relative;
		width: 100%;
		height: 100%;
	}
	[data-rmiz-modal-img] {
		position: absolute;
		cursor: zoom-out;
		image-rendering: high-quality;
		transform-origin: top left;
		transition: transform 0.3s;
	}
	@media (prefers-reduced-motion: reduce) {
		[data-rmiz-modal-overlay],
		[data-rmiz-modal-img] {
			transition-duration: 0.01ms;
		}
	}
}
